@{
    Layout = "_ConfigurePlugin";
}
@model Nop.Plugin.Payments.Fondy.Models.ConfigurationModel

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="PaymentFondy" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>For plug-in configuration, you must perform the following actions:</b>
                    <ul>
                        <li>Sign up on the <a href="https://portal.fondy.eu/mportal/#/">Fondy merchant portal</a></li>
                        <li>Go to <a href="https://portal.fondy.eu/mportal/#/settings">settings page</a></li>
                        <li>Fill out the field «Merchant ID» and «Payment key»</li>
                    </ul>
                </a>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantIdOverrideForStore" asp-input="MerchantId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId" />
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SecretKeyOverrideForStore" asp-input="SecretKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SecretKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SecretKey" />
                        <span asp-validation-for="SecretKey"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="TestingModeOverrideForStore" asp-input="TestingMode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="TestingMode" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TestingMode" />
                        <span asp-validation-for="TestingMode"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeeOverrideForStore" asp-input="AdditionalFee" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFee" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee" />
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="AdditionalFeePercentageOverrideForStore" asp-input="AdditionalFeePercentage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="AdditionalFeePercentage" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage" />
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="DescriptionTemplateOverrideForStore" asp-input="DescriptionTemplate" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="DescriptionTemplate" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="DescriptionTemplate" />
                        <span asp-validation-for="DescriptionTemplate"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
